@model IEnumerable<Menu>



@foreach (var menu in Model)
{
    <li class="menu-item">
        <a asp-area="@menu.Area" asp-controller="@menu.Controller" asp-action="@menu.Action" class="@menu.Class">
            <i class="@menu.Icon"></i>
            <div>@menu.MenuAdi</div>
        </a>
    </li>
}